<!DOCTYPE html>
<html>
<head>
  <title>Newsfeedr</title>
</head>
<body>

  <h1>Newsfeedr</h1>

  <% if !session[:news] %>

    <h2>No news found</h2>

  <% else %>

    <% session[:news].each do |story| %>
      <article>
        <a href="<%= story.link %>">
          <h2><%= story.title %></h2>
        </a>
        <em><%= story.pubDate %></em>
        <strong><%= story.votes %> votes</strong>
        <a href="vote/story/<%= story.title %>">
          vote!
        </a>
        <p><%= story.description %></p>
      </article>
    <% end %>

  <% end %>

</body>
</html>
